h1, h2 {
    text-align: center;
}
header {
    background-color: #aaa;
    height: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 10px;
    text-align: left;
}
header > div {
    margin: auto;
}
footer {
    background-color: #aaa;
    display: block;
    position:relative;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #555;
    width: 100%;
    margin-top: 50px;
    padding: 0 0 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
    color: #555;
}
.main {
    display: inline;
    font-size: 20px;
    margin: auto;
}
.main:hover {
    background-color: #777;
    color: white;
}
#bottomline {
    border: 1px solid black;
    margin-bottom: 5px;
}
.body {
    margin: 50px 50px;
}